<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="{{@blog.description}}">
<meta name="author" content="{{@blog.title}}">

<!-- Twitter Card -->
{{#if post}}
{{#post}}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ twitterURL }}">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{excerpt}}">
<meta name="twitter:creator" content="{{author.name}}">
<meta name="twitter:image:src" content="{{ gravitarURL }}">

<meta property="og:type" content="article">
<meta property="og:title" content="{{@blog.title}}">
<meta property="og:description" content="{{excerpt}}">
<meta property="og:image" content="{{ gravitarURL }}">
<meta property="og:site_name" content="{{@blog.title}}">
{{/post}}
{{else}}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content=" twitterURL ">
<meta name="twitter:title" content="{{@blog.title}}">
<meta name="twitter:description" content="{{@blog.description}}">
<meta name="twitter:creator" content="{{@blog.title}}">
<meta name="twitter:image:src" content="{{ gravitarURL }}">

<meta property="og:type" content="article">
<meta property="og:title" content="{{@blog.title}}">
<meta property="og:description" content="{{@blog.description}}">
<meta property="og:image" content="{{ gravitarURL }}">
<meta property="og:site_name" content="{{@blog.title}}">
{{/if}}

<link href='https://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
<link rel="stylesheet" type="text/css" href="{{ asset 'assets/css/styles/solarized_light.css' }}" />
<link rel="stylesheet" type="text/css" href="{{asset 'css/screen.css' }}" />
<link rel="shortcut icon" type="image/x-icon" href="{{ asset 'img/favicon.ico' }}">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{{! Everything else gets inserted here }}
{{{body}}}

<footer class="footer">
    <div class="back-to-top"><a href="">Back to top</a></div>
    <!-- <div class="footer-nav"><p></p></div> -->
    <div class="psi">&Psi;</div>
    <aside class="offsite-links">
        <a class="twitter-link" href="https://twitter.com/louistur">Twitter</a> /
    		<a class="instagram-link" href="https://github.com/spacedrabbit">Github</a> /
        <a class="rss-link" href="{{ @blog.url }}/rss">RSS</a>
        
    </aside>
</footer>

</div> {{! End of wrapper }}

{{! Scripts }}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
<script type="text/javascript" src="{{ asset 'js/fittext.js' }}"></script>
<script type="text/javascript" src="{{ asset 'js/app.js' }}"></script>
<script type="text/javascript" src="{{ asset 'js/respond.min.js' }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
  var ga_ua = '{{! TODO: ADD GOOGLE ANALYTICS UA HERE }}';

  (function(g,h,o,s,t,z){g.GoogleAnalyticsObject=s;g[s]||(g[s]=
      function(){(g[s].q=g[s].q||[]).push(arguments)});g[s].s=+new Date;
      t=h.createElement(o);z=h.getElementsByTagName(o)[0];
      t.src='//www.google-analytics.com/analytics.js';
      z.parentNode.insertBefore(t,z)}(window,document,'script','ga'));
      ga('create',ga_ua);ga('send','pageview');
</script>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

</body>
</html>