{{!< default}}
{{#if post}}
{{#post}}
<title>{{title}} | {{@blog.title}}</title>
{{/post}}
{{else}}
<title>{{@blog.title}}</title>
{{/if}}

{{ghost_head}}
</head>

<body class="{{body_class}}">
<div class="wrapper">

{{! Menu }}
{{#if post}}
<nav class="nav fixed">
{{else}}
<nav class="nav">
{{/if}}
    <a id="logo" href="{{@blog.url}}"><h1>{{@blog.title}}</h1></a>
    <ul class="nav-primary">
        {{! TODO: Add URLs here }}
        <li><a href="{{@blog.url}}/author/cassie">Cassie</a></li>
        <li><a href="{{@blog.url}}/author/louis">Louis</a></li>
    </ul>
</nav>
{{#post}}

<article class="art simple {{post_class}}">
    
    <header class="art-header">
        <div class="art-header-inner" style="margin-top: 0px; opacity: 1;">
            <time class="art-time">{{date published_at format="MMMM Do, YYYY"}}</time>
            <h2 class="art-title">{{title}}</h2>
            <p class="art-subtitle">by {{author.name}}</p>
        </div>
    </header>

    <div class="art-body">
        <div class="art-body-inner">
            {{#if featured}}
            <hr class="featured-article" />
            {{else}}{{/if}}
            {{content}}
            <div class="author-card" style="background-image: url({{asset 'assets/img/noisestrip.png'}})">
                <img id="author-image" src="{{author.image}}">
                <h3>{{author.name}}</h3>
                <p>{{author.bio}}</p>
                {{#has author="Cassie Tarakajian"}}
                <a class="fa fa-twitter social-icon" href="https://twitter.com/hellothisiscass"></a>
                <a class="fa fa-github social-icon" href="https://github.com/catarak"></a>
                <a class="fa fa-code social-icon" href="http://people.flatironschool.com/profiles/cassie-tarakajian"></a>
                <a href="{{@blog.url}}/author/cassie" id="read-more">Read more from this author <span class="fa fa-long-arrow-right"></span></a>
                {{/has}}
                {{#has author="Louis Tur"}}
                <a class="fa fa-linkedin-square social-icon" href="https://www.linkedin.com/in/louistur/"></a>
                <a class="fa fa-github social-icon" href="https://github.com/spacedrabbit"></a>
                <a class="fa fa-code social-icon" href="http://people.flatironschool.com/profiles/louis-tur"></a>
                <a href="{{@blog.url}}/author/louis" id="read-more">Read more from this author <span class="fa fa-long-arrow-right"></span></a>
                {{/has}}
            </div>     
        </div>
    </div>

</article>

{{/post}}